<ul class="navbar">
            <li class="navbar-links" ><a href="index.html#news" id="change-links-news">News</a></li>
            <li class="navbar-links" ><a href="index.html#artists" id="change-links-artists">Artists</a></li>
            <li class="navbar-links"><a href="index.html#discography" id="change-links-music">Music</a></li>
            <li class="navbar-links" id="about-hover"><a href="index.html#about" id="change-links-about">About &dtrif;</a></li>
                <ul class="dropdown">
                    <li class="dropdown-links"><a href="#">About Get Joe</a></li>
                    <li class="dropdown-links"><a href="#">Get Joe Mission</a></li>
                </ul>
            <li class="navbar-links"><a href="index.html#team" id="change-links-team">Our Team</a></li>
            <li class="navbar-links"><a href="index.html#contact" id="change-links-contact">Contact</a></li> 
        </ul>
        <ul class="navbar-icons" id="navbar-icons">
            <li class="icons"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="icons"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="icons"><a href="https://www.facebook.com/Get-Joe-Entertainment-109237988128237"><i class="fab fa-facebook"></i></a></li>
            <li class="icons"><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="icons"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>











.navbar {
    grid-area: navbar;
    justify-self: end; 
    align-self: center;
}

.navbar-links a, li {
    display:inline-flex;
    padding: 0 1rem;
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    justify-self: space-between;
    transition: transform .8s;
}


.navbar-links a:hover {
    /* border-bottom: .3rem solid #CC2026; */
    /* transform: translateY(-.5rem); */
    color: #ee2a31;
}

.navbar-icons {
    grid-area: navbar-icons;
    justify-self: end;
    align-self: center;
    margin-right: 2rem;
}

.icons a {
    color: white;
    font-size: 2rem;
}

.icons a:hover {
    color: #ee2a31;
}
