/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    scroll-padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #0A0405;
    overflow: hidden;
}


/* NAVBAR */
.nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'logo navbar'
    'logo1 navbar-icons';
    height: 12vw;
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: #0A0405;
    border-bottom: .1rem solid #AAACC1;
}

.invisible-home-link {
    grid-area: logo;
    color: red;
    background-color: white;
    justify-self: stretch;
    align-self: end;
    z-index: 200;
    opacity: 0;
    font-size: 4rem;
}

.logo {
    grid-area: logo;
    width: 100%;
    justify-self: center;
    /* align-self: end; */
    align-self: center;
    /* padding-top: 1rem; */
}

.heading {
    grid-area: logo1;
    justify-self: center;
    align-self: start;
    font-size: 1.5rem;
    font-weight: 400;
    align-self: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /* padding: 1rem; */
    /* margin-top: .5rem; */
}

.heading span {
    font-size: 80%;
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: column;
    justify-self: end;
}
#navbar-icons {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}
.icons:hover a{
    color: #CC2026;
}
.menu {
    list-style-type: none;
    padding: 1rem 2rem 0 0;
}
ul li:not(:last-child) {
    margin-right: 1rem;
}
ul li {
    border: .2rem solid transparent;
    border-radius: 5%;
    padding: .5rem;
    transition: background 0.2s;
}
ul li a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 2rem;
}
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    background: linear-gradient(100deg, #F7941C, #ffa91b);
    border-radius: .5rem;
    transition: opacity 0.2s, visibility 0.2s;
    z-index: 99;
}
ul li ul li {
    width: 100%;
    line-height: .5rem;
    padding: 2rem 0;
}

ul li:hover {
    /* background: #ec4138; 
    border: 2px solid #f05749;
    border-right: 2px solid #e02a21;
    border-bottom: 2px solid #e02a21;  */
}
.navbar-links:hover a {
    color:#CC2026;
    transform: translateY(-.5rem);
}
ul li:hover ul {
    visibility: visible;
    opacity: 1;
    /* box-shadow: 0px 1px 3px .5px #ebecf1; */
}
.navbar-links:hover ul li a {
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
}
@keyframes slide-in {
    0% {
        top: -50rem;
   }
    40% {
        top: 20rem;
   }
    70% {
        top: 10rem;
   }
    100% {
        top: 15rem;
   }
}




/* HAMBURGER MENU */
.mini-nav {
    display: none;
    padding-top: 3rem;
    position: absolute;
    z-index: 99;
}

.mini-logo-container {
    justify-content: center;
    display: flex;
}

.mini-logo {
    width: 100%;
    margin: .5rem 0;
}

.slug {
    color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
}
.slug2 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.hamburger-menu {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    padding: 0 1.5rem;
}

.line {
    width: inherit;
    height: .5rem;
    background-color: #CC2026;
    border-radius: 25px;
    transform-origin: right;
    transition: transform .5s;
    z-index: 99;
}

.line-2 {
    height: .3rem;
    z-index: 99;
}

.change .line-1 {
    transform: rotateZ(-45deg);
    z-index: 99;
}

.change .line-2 {
    transform: translate(5px, 20px);
    z-index: 99;
}

.change .line-3 {
    transform: rotateZ(45deg);
    z-index: 99;
}

.top-nav {
    width: 100%;
    transform: translateY(-400%);
    transition: transform 2s;
    background-color: #0A0405;
    padding-bottom: 3rem;
}

.change .top-nav {
    /* top: 0; */
    transform: translateY(0%);
}

.mini-nav-list {
    display: grid;
    width: 100%;
    background-color: #0A0405;
    padding: 2rem 0;
}

.mini-nav-link {
    background-color: #0A0405;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    height: 5vw;
    text-align: center;
    font-size: 2rem;
}

.mini-nav-link:hover {
    color: #CC2026; 
    font-weight: 700;
    letter-spacing: .1rem;
}

.hamburger-icons-list {
    display: flex;
    justify-content: center;  
}

.hamburger-icons a, li{
    display: inline-flex;
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
}

.hamburger-icons:hover a {
    color: #CC2026;
}


/* SLIDESHOW */
.main {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas: 
    'left center right'
    'empL empB empR';
    height: 45vw;
    margin-top: 15%;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.slideshow-wrapper {
    grid-area: center;
    background-color: #0A0405;
    position: relative;
    overflow: hidden;
    border: .2rem solid #CC2026;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide:nth-child(1) {
    background: linear-gradient(-100deg, rgba(38, 38, 38, 1), rgba(38, 38, 38, .8), transparent), url() center no-repeat;
    background-size: cover;
    background-color: #CC2026;  
} 

.slide:nth-child(2) {
    background: linear-gradient(-100deg, rgba(38, 38, 38, 1), rgba(38, 38, 38, .8), transparent), url() center no-repeat;
    background-size: cover;
    background-color: #F7941C;
}

.slide:nth-child(3) {
    background: linear-gradient(-100deg, rgba(38, 38, 38, 1), rgba(38, 38, 38, .8), transparent), url() center no-repeat;
    background-size: cover;
    background-color: #AAACC1;
}

.content {
    position: relative;
    color: #FFFFFF;
    top: 20%;
    text-align: end;
    margin-right: 2%;
    letter-spacing: .4rem;
}

.content h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4rem;
} 

.content p {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* ARROW BUTTONS */
.left {
    grid-area: left;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    align-self: center;
    border: none;
    background-color: #0A0405;
    color: #FFFFFF;
    font-size: 4rem;
}

.right {
    grid-area: right;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    align-self: center;
    border: none;
    background-color: #0A0405;
    color: #FFFFFF;
    font-size: 4rem;
}

button:hover {
    color: #AAACC1;
}


/* NEWS */
.section-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .9fr;
    grid-template-areas: 
    'title'
    'photo';
    /* 'more' */
    height: 45vw;
    margin: 5rem 0;
    border-bottom: .5rem double #F7941C;
    
}

.news-title {
    grid-area: title;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 5rem;
    margin-top: 3rem;
}

.gallery {
    grid-area: photo;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before{
    content: '';
    position: absolute;
    top: 2vw;
    left: 90%;
    width: .2rem;
    height: 0;
    background-color: #CC2026;
    transition: height 1s;
    z-index: 10;
}

.gallery-link:hover::before{
    height: 80%;
}

.gallery-link:hover::after{
    width: 90%;
}

.gallery-link::after{
    content: '';
    position: absolute;
    top: 25%;
    left: 2rem;
    width: 0;
    height: .2rem;
    background-color: #F7941C;
    transition: width 1s;
}

.music-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    border: 1rem double #CC2026;
    transition: all .5s;
}

.gallery-link:hover .music-img{
    box-shadow: .5rem .5rem .1rem #F7941C, 1rem 1rem .1rem #CC2026;
    transform: scale(1.1);
    filter: blur(.3rem);
    opacity: .6;
}

.music-name {
    position: absolute;
    top: 15%;
    left: 7%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    width: 0;
    overflow: hidden;
    font-size: 1.5rem;
}

.gallery-link:hover .music-name {
    width: 100%;
}

.music-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity;
}

.gallery-link:hover .music-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s 0.5s;
}

.more {
    grid-area: more;
    font-size: 1rem;
    text-align: center;
    align-self: center;
}

.more a {
    color: #FFFFFF;
    text-decoration: none;
}

.more a:hover {
    color:#F7941C;
}




/* ARTISTS 1 */
.section-artists {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-template-areas: 
    'logo'
    'title'
    'w1';
    height: 65vw;
    padding: 10rem 5rem;
}

.artists-logo {
    grid-area: logo;
    width: 50%;
    justify-self: center;
    animation: fade-in 6s;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.artists-title {
    grid-area: title;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 5rem;
    margin-top: 5rem;
}

.artists-common {
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    border: solid 1rem #AAACC1;
    border-style: double;  
    margin: 5rem;
    width: 30%;
}


.w1 {
    grid-area: w1;
}

/* MUSIC*/
.section-discography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .1fr .8fr;
    grid-template-areas: 
    'head head'
    'temp temp'
    'cd1 cd2';
    /* 'button button' */
    height: 60vw;
}

.music-title {
    grid-area: head;
    color: #FFFFFF;
    text-align: center;
    align-self: center;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 5rem;
}

.music-temporary {
    color: #ee2a31;
    grid-area: temp;
    text-align: center;
    font-size: 1.5rem;
}

.cd-common {
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
    border: solid .8rem #CC2026;
    border-style: double;
    background-color: transparent;
}
.cd1 {
    grid-area: cd1;
    margin-left: 10rem;
}
.disc-1 {
    grid-area: cd1;
    margin-left: 10rem;
}
.cd2 {
    grid-area: cd2;
    margin-right: 10rem;
}
.disc-2 {
    grid-area: cd2;
    margin-right: 10rem;  
}
.listen-common {
    padding-top: 10rem;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    justify-self: center;
    align-self: center;
}

/* .disc-more{
    grid-area: button;
    font-size: 3rem;
    text-align: center;
    justify-self: center;
    border: 1rem solid #CC2026;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: 1rem 2rem 0 2rem;
    width: 15%;
    height: 3vw;
    text-decoration: none;
}

.disc-more:hover {
    background-color: #ee2a31;
    opacity: .7;
} */

/* ABOUT */
.about {
    display: grid;
    grid-template-rows: .2fr .1fr 1fr;
    grid-template-areas: 'logo'
    'about'
    'statement';
    height: 40vw;
    padding-bottom: 5rem;  
}

.about-logo {
    grid-area: logo;
    width: 45%;
    align-self: start;
    justify-self: center;
    animation: run linear 9s infinite;
    animation-direction: normal;
}

@keyframes run {
    0% { margin-left: -140%;}
    100%{ margin-left: 150%;}
}

.about-heading {
    color: #FFFFFF;
    text-align: center;
    padding: 2rem 0;
    font-size: 5rem;
    text-transform: uppercase;
}

.about-sub-heading {
    font-size: 3rem;
    color: #F7941C;
}

.mission {
    grid-area: statement;
    color: white;
    font-size: 2rem;
    letter-spacing: .1rem;
    line-height: 3rem;
    width: 90%;
    justify-self: center;
}

/* OUR TEAM */
.section-team {
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr;
    grid-template-areas:
    'team-heading team-heading team-heading' 
    'card1 card2 card3';
    height: 60vw;
    background-color: #CC2026;
    padding-bottom: 10rem;
}

.team-heading {
    grid-area: team-heading;
    color: #FFFFFF;
    text-align: center;
    font-size: 5rem;
    margin: 5rem 0 3rem 0;
    letter-spacing: .1rem;
}
.card-wrapper1 {
    grid-area: card1;
    position: relative;
}
.card-wrapper2 {
    grid-area: card2;
    position: relative;
}
.card-wrapper3 {
    grid-area: card3;
    position: relative;
}
/* CARD 1&3 */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    /* height: 450px; */
    height: 430px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.card .card-image {
    position: absolute;
    top: 0px;
    left: -20%;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: #000; */
    transition: 0.5s;
}

.card-image img {
    width: 125%;
    height: 100%;
}

.card:hover img {
    opacity: 1;
    transition: 0.5s;
}
.card:hover .card-image {
    transform: translateY(-130%);
    transition: all 0.9s;
}

/* CARD 2 */
.dave {
    position: absolute;
    bottom: -120px;
    left: 0;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 3;
    padding: 10px;
    transition: 0.4s;
}

.card:hover .profile-img--two {
    /* transform: rotateY(180deg); */
    transform: translateX(-130%);
}
.card:hover .details {
    bottom: 0;
    left: 0;
    transition-delay: 0.2s;
    opacity: 1;
}

/* RESUMES */
.resume {
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    z-index: 3;
    display: flex;
    padding: 4rem 3rem;
    line-height: 2rem;
    font-size: 1.5rem;
    opacity: 0;
    transition: .5s ease-in ;
}


.card:hover .resume {
    /* transform: translateY(0px); */
    opacity: 1;
}

/**** Personal Details ****/
.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 90px;
    z-index: 1;
    padding: 10px;
}
.details h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}
.details h2 .job-title {
    font-size: 1.1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

/* MAILING LIST */
.section-mailinglist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-template-areas: 
    'mail mail mail'
    'form form form'
    'terms terms terms';
    height: 65vw;
    background-color: #FFFFFF;
}

.mail-title {
    grid-area: mail;
    color: #0A0405;
    text-align: center;
    align-self: center;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 5rem;
}

/* .sub-title {
    grid-area: mail;
    font-size: 3rem;
    color: #0A0405;
    text-align: center;
    margin-top: 15rem;
} */

/* FORM GRID WITHIN CONTACT GRID */
.form-container {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 4fr .5fr;
    grid-template-areas: 
    'line1'
    'line2'
    'line3'
    'line4';
    width: 75%;
    height: 120%;
    justify-self: center;
    align-self: center;
}

.email-form {
    font-size: 2rem; 
    background-color: #FFFFFF;
    border: .1rem solid #AAACC1;
    padding: 1rem; 
    margin: .5rem;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.email-form::placeholder {
    color: #AAACC1;
}

.line1 {
    grid-area: line1;
}
.line2 {
    grid-area: line2;
}
.line3 {
    grid-area: line3;
}
.line4 {
    grid-area: line4;
}

.email-sign {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1rem;
    background-color: #CC2026;
    color: #FFFFFF;
    border: none;
    border-radius: .5rem;
    padding: 1rem 4rem 1rem 4rem;
}

.email-sign:hover {
    background-color: #ee2a31;
}

#status {
    grid-area: terms;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: #FFFFFF;
    border-radius: .5rem;
    width: 50%;
    height: 30%;
    padding: 1rem;
    justify-self: center;
    text-align: center;
    margin: .5%;
}

#status.success {
    color: #0A0405;
    animation: status 4s ease forwards;
  }
  #status.error {
    color: #CC2026;
    animation: status 4s ease forwards;
  }

  @keyframes status {
    0% {opacity: 1; pointer-events: all;}
    90% {opacity: 1; pointer-events: all;}
    100% {opacity: 0; pointer-events: none;}
  }


/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr .5fr;
    grid-template-areas: 
    'logofoot'
    'iconsfoot'
    'subtitlefoot'
    'copyright';
    height: 25vw;
}  

.decoration-footer {
    grid-area: logofoot;
    border-top: .3rem solid #AAACC1;
    border-bottom: #172601;
    border-left: #172601;
    border-right: #172601;
}

.footer-logo{
    grid-area: logofoot;
    height: 6rem;
    justify-self: center;
    margin-top: 10rem;
}

.footer-icons {
    grid-area: iconsfoot;
    justify-self: center;
    align-self: center;
}

.foot-icons a, li {
    color: #FFFFFF;
}

.foot-icons a:hover {
    color: #ee2a31;
}

.footer-subtitle {
    grid-area: subtitlefoot;
    color:#FFFFFF;
    font-size: 2rem;
    justify-self: center;
}

.copyright {
    grid-area: copyright;
    color:#FFFFFF;
    font-size: 1.2rem;
    justify-self: center;
    text-align: center;
}

.self {
    color:#FFFFFF;
    font-size: 1.2rem;
    text-decoration: none;
}

.self:hover {
    color: #F7941C;
}

/* SCROLL UP BTN */
.scroll-up-btn {
    width: 4rem;
    height: 4rem;
    background-color: #CC2026;
    text-decoration: none;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
    visibility: visible;
}

.scroll-up-btn:hover {
    background-color: #ee2a31;
    border: .1rem solid #CC2026;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}
/* END OF CONTAINER */































/* MEDIA QUERIES */
@media screen and (max-width: 1095px) {
    /* SLIDESHOW */
    .left {
        font-size: 3rem;
    }
    .right {
        font-size: 3rem;
    }
    /* TEAM CARDS */
    .card {
        width: 95%;
        height: 90%;
    }
    .resume {
      line-height: 1.9rem;  
      padding: 1.5rem 2rem;
    }
}

@media screen and (max-width: 980px) {
    .navbar-links a, li {
        font-size: 1.3rem;
    }
    .icons a {
        font-size: 1.5rem;
    }
    /* NEWS */
    .music-name {
        font-size: 1.2rem;
    }
    .gallery-link::after{
        left: 1rem;
    }
    .music-description {
        font-size: .8rem;
    }
    /* TEAM CARDS */
    .section-team {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr 1fr 1fr;
        grid-template-areas: 'team-heading team-heading'
        'card1 card2'
        'card3 card4';
        height: 120vw;
    }
    .card-wrapper1, .card-wrapper3{
        transform: translateX(9%);
    }
    .card-wrapper2 {
        transform: translateX(-9%);
    }
    .card {
        width: 70%;
        height: 80%;
    }
    .card .card-image {
        left: -10%;
    }
    .resume {
        padding: 3rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .details {
        height: 80px;
        padding: 0;
    }
    .details h2 {
        margin: 0;
    }
}

@media screen and (max-width: 899px) {
    /* TITLES */
    .heading {
        font-size: 97%;
    }
    .news-title {
        font-size: 3rem;
    }
    .artists-title {
        font-size: 3rem;
        margin-top: 3rem;
    }
    .music-title {
        font-size: 3rem;
    }
    .about-heading {
        font-size: 3rem;
    }
    .about-sub-heading {
        font-size: 2rem;
    }
    .team-heading {
        font-size: 3rem;
    }
    .mail-title {
        font-size: 3rem;
    }
    /* NAV */
    .invisible-home-link {
        font-size: 4rem;
    }
    .nav {
        grid-template-rows: 1fr .1fr;
    }
    .logo {
        align-self: center;
    }
    .icons a {
        transform: translateY(-60%);
    }
    /* SLIDESHOW */
    .content h3 {
        font-size: 3rem;
    }
    .content p {
        font-size: 2rem;
    }
    /* TEAM CARDS */
    .section-team {
        padding-bottom: 1rem;
    }
    .card {
        width: 65%;
        height: 75%;
    }
    .resume {
        padding: 1rem;
        line-height: 1.8rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    .card-wrapper3 {
        transform:translateX(9%) translateY(-15%);
    }
    .details {
        height: 50px;
    }
    /* CONTACT */
   .section-mailinglist{
    height: 85vw;
    }
}

@media screen and (max-width: 811px) {
   /* ABOUT */
   .about {
       height: 50vw;
       padding: 5rem 0;
   }
   /* TEAM */
   .resume {
       font-size: 1.3rem;
       line-height: 1.5rem;
       padding: .8rem;
   }
   .details {
       height: 60px;
       margin: 0; 
   }
   .details h2 {
        margin: 1rem;
        font-size: 1.2rem;
    }
    .job-title {
        font-size: 1rem;
    }
    /* FOOTER */
    .footer-logo {
        height: 5rem;
        margin-top: 5rem;
    }  
}

@media screen and (max-width: 761px) {
    /* NAV */
    .invisible-home-link {
        font-size: 2rem;
    }
    .heading {
        transform: translateY(-1.5rem);
    }
    .navbar-links a, li {
        font-size: 1.1rem;
    }
    /* SLIDESHOW */
    .left {
        font-size: 2rem;
    }
    .right {
        font-size: 2rem;
    }
    /* TEAM */
    .resume {
       line-height: 1.4rem;
       font-size: 1.1rem;
    }
    /* FOOTER */
    .footer-subtitle {
        font-size: 1.5rem;
    }
    .copyright {
        font-size: .6rem;
    }
    .self {
        font-size: .6rem;
    }
    /* SCROLL BTN */
    .scroll-up-btn {
        font-size: 1.4rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 705px) {
    .nav {
        display: none;
    }
    .mini-nav {
        display: block;
    }
    /* MAIN */
    .main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10fr .1fr;
        grid-template-areas: 
        'center center'
        'botL botR';
        height: 50vw;
        padding-top: 10rem;
    }
    .slideshow-wrapper {
        width: 90%;
        justify-self: center;
        height: 100%;
    }
    .content h3 {
        font-size: 2rem;
    }
    .content p {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .left {
        grid-area:botL;
        padding: 1.5rem 4rem;
        justify-self: start;
    }
    .right {
        grid-area: botR;
        padding: 1.5rem 4rem;
        justify-self: end;
    }
    /* NEWS */
    .section-news {
        grid-template-rows: .1fr 1fr .1fr;
        height: 150vw;
    }
    .gallery {
        grid-area: photo;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'r1'
        'r2'
        'r3';
        padding-bottom: 5rem;
    }
    .r1 {
        grid-area: r1;
    }
    .r2 {
        grid-area: r2;
    }
    .r3 {
        grid-area: r3;
    }
    .gallery-link {
        justify-self: center;
        margin: 4rem 0;
    }
    .gallery-link::before{
        visibility: hidden;
    }
    .gallery-link::after{
        visibility: hidden;
    }
    .music-img {
        width: 45vw;
        height: 30vw;
    }
    .gallery-link:hover .music-img {
        box-shadow: none;
    }
    .music-name {
        font-size: 1.5rem;
        width: 100%;
    }
    .music-description {
        font-size: 1.2rem;
        visibility: visible;
        opacity: 1;
        padding-bottom: 1rem;
    }
    /* ARTISTS */
    .section-artists {
        padding: 5rem;
    }
    /* ABOUT */
    .mission {
        font-size: 1.5rem;
    }
    /* TEAM */
    .section-team {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'team-heading'
        'card1'
        'card2'
        'card3';
        height: 150vw;
        padding-bottom: 5rem;
    }
    .card-wrapper1,.card-wrapper3 {
        transform: translateX(0%);
        padding: 0;
        margin: 0;
    }
    .card-wrapper2 {
        transform: translateX(0%);
    }
    .card {
        width: 35%;
        height: 95%;
    }
    .resume {
        padding: 1rem 1.1rem;
    }
    /* CONTACT */
    .form-container {
        width: 80%;
        height: 100%;
    }
    .email-form {
        font-size: 1.5rem; 
    }  
    .email-sign {
        font-size: 1.5rem;  
    }
    #status {
        font-size: 1.2rem;
    }
    /* FOOTER */
    .footer-logo {
        height: 4rem;
    }
    /* SCROLL UP BTN */
    .scroll-up-btn {
        display: none;
    }
}

@media screen and (max-width: 645px) {
    /* NEWS */
    .section-news {
        height: 160vw;
    }
    /* MUSIC */
    .cd1 {
        margin-left: 5rem;
    }
    .disc-1 {
        margin-left: 5rem;
    }
    .cd2 {
        margin-right: 5rem;
    }
    .disc-2 {
        margin-right: 5rem;
    }
    /* TEAM */
    .section-team {
        height: 165vw;
    }
    .card {
        width: 40%;
    }
    .resume {
        padding: 1rem .5rem;
    }
    .details {
        height: 55px;
    }
}

@media screen and (max-width: 570px) {
    /* SLIDESHOW */
    .main {
        height: 65vw;
    }
    /* NEWS */
    .section-news {
        height: 180vw;
    }
    /* ARTISTS */
    .section-artists {
        height: 75vw;
    }
    .artists-common {
        width: 45%;
    }
    /* MUSIC */
    .section-discography {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .1fr 1fr 1fr;
        grid-template-areas: 
        'head'
        'temp'
        'cd1'
        'cd2';
        height: 120vw;
    }
    .cd-common {
        display: flex;
        justify-self: center;
        margin: 0;
        width: 50%;
        height: 80%;
    }
    .disc-1 {
        display: flex;
        justify-self: center;
        margin: 0;
        text-decoration: none;
    }
    .disc-2 {
        display: flex;
        justify-self: center;
        margin: 0;
        text-decoration: none;
    }
    /* ABOUT */
    .about {
        padding: 9rem 1rem;
    }
    /* TEAM */
    .section-team {
        height: 180vw;
    }
    .card {
        width: 45%;
    }
    /* FOOTER */
    .footer {
        height: 30vw;
    }
    .footer-logo {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 495px) {
    /* HAMBURGER MENU */
    .mini-nav-link {
        padding: .5rem 0;
    }
    /* NEWS */
    .section-news {
        border-bottom: none;
    }
    .music-img {
        width: 55vw;
        height: 40vw;
    }
    /* NEWS */
    .gallery-link {
        margin: 1.5rem 0;
    }
    /* ARTISTS */
    .section-artists {
        padding-top: 5rem;
    }
    .artists-logo {
        width: 80%;
    }
    /* MUSIC */
    .section-discography {
        padding-top: 3rem;
    }
    .listen-common {
        font-size: 2rem;
    }
    /* ABOUT */
    .about-heading {
        font-size: 2.5rem;
    }
    /* TEAM */
    .section-team {
        height: 238vw;
    }
    .card {
        width: 55%;
        height: 95%;
    }
     /* CONTACT */
     .mail-title {
        padding-top: 1.5rem;
    }
    .form-container {
        width: 85%;
        height: 80%;
        transform: translateY(-5%);
    }
    .email-form {
        font-size: 1rem;
    }
}

@media screen and (max-width: 411px) {
    /* HAMBURGER MENU */
    .mini-logo {
        /* width: 70%; */
    }
    .hamburger-menu {
        width: 30px;
        height: 25px;
    }
    .line {
        height: .4rem;
    }
    .line-2 {
        height: .2rem;
    }
    .hamburger-icons {
        padding: 0 .6rem;
    }
    /* MAIN */
    .main {
        height: 70vw;
    }
    .content h3 {
        font-size: 1.2rem;
    }
    .content p {
        font-size: 1rem;
    }
    /* NEWS */
    .music-name {
        font-size: 1.3rem;
    }
    .music-description {
        font-size: 1rem;
    }
    /* ARTISTS */
    .artists-common {
        width: 55%;
    }
     /* MUSIC */
     .section-discography {
        padding-top: 5rem;
    }
    /* ABOUT */
    .about-heading {
        font-size: 2rem;
    }
    .about-sub-heading {
        font-size: 1.5rem;
    }
    .mission {
        font-size: 1.2rem;
    }
    /* TEAM */
    .section-team {
        height: 240vw;
    }
    .card {
        width: 60%;
    }
    /* CONTACT */
    .section-mailinglist {
        height: 95vw;
    }
    /* FOOTER */
    .footer-logo {
        height: 3rem;
    }
}

@media screen and (max-width: 368px) {
    /* TITLES */
    .news-title {
        font-size: 2rem;
    }
    .artists-title {
        font-size: 2rem;
        margin-top: 2rem;
    }
    .music-title {
        font-size: 2rem;
    }
    .team-heading {
        font-size:2rem;
    }
    .mail-title {
        font-size:2rem;
    }
    /* NAV */
    .mini-nav-link {
        font-size: 1.5rem;
    }
    .hamburger-icons a, li {
        font-size: 1.7rem;
    }
    /* MAIN */
    .left {
        font-size: 1.5rem;
    }
    .right {
        font-size: 1.5rem;
    }
    /* ARTISTS */
    .artists-common {
        width: 65%;
    }
    /* MUSIC */
    .music-temporary {
        font-size: 1rem;
    }
    .listen-common {
        font-size: 1.5rem;
    }
    /* ABOUT */
    .mission {
        line-height: 2rem;
    }
    /* TEAM */
    .team-heading {
        margin-top: 3rem;
    }
    .section-team {
        height: 260vw;
    }
    .card {
        width: 65%;
    }
    /* CONTACT */
    .line4 {
        font-size: 1.2rem;
    }
    /* FOOTER */
    .footer {
        height: 35vw;
    }
    .foot-icons {
        font-size: 1.5rem;
    }
    .footer-subtitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 335px) {
    /* MAIN */
    .main {
        height: 75vw;
    }
    /* NEWS */
    .music-img {
        border-width: .5rem;
    }
    .music-name {
        font-size: 1rem;
    }
    .music-description {
        font-size: .9rem;
        left: 1rem;
    }
    /* ARTISTS */
    .artists-common {
        border-width: .5rem;
    }
    /* MUSIC */
    .cd-common {
        border-width: .5rem;
    }
    /* ABOUT */
    .about-heading {
        font-size: 1.5rem;
    }
    .about-sub-heading {
        font-size: 1.2rem;
    }
    /* TEAM */
    .section-team {
        height: 300vw;
    }
    .card {
        width: 75%;
    }
    /* CONTACT */
    .email-form {
        padding: .7rem;
    }
}

@media screen and (max-width: 285px) {
    /* TITLES */
    .news-title {
        font-size: 1.5rem;
    }
    .artists-title {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .music-title {
        font-size: 1.5rem;
    }
    .team-heading {
        font-size: 1.5rem;
    }
    .mail-title {
        font-size: 1.5rem;
    }
    /* MAIN */
    .main {
        height: 80vw;
    }
    .content h3 {
        font-size: 1rem;
    }
    .content p {
        font-size: .7rem;
    }
    .left {
        font-size: 1rem;
    }
    .right {
        font-size: 1rem;
    }
    /* HAMBURGER MENU */
    .mini-logo {
        /* width: 80%; */
    }
    .hamburger-menu {
        width: 25px;
        height: 20px;
    }
    .line {
        height: .2rem;
    }
    .line-2 {
        height: 0.1rem;
    }
    /* NEWS */
    .section-news {
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
    .music-img {
        width: 60vw;
        height: 45vw;
    }
    /* ARTIST */
    .artists-common {
        width: 90%;
        margin-top: 2rem;
    }
    /* MUSIC */
    .listen-common {
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    /* ABOUT */
    .about-logo {
        width: 55%;
    }
    .about {
        padding-top: 6rem;
    }
    .mission {
        font-size: 1rem;
        width: 95%;
        line-height: 1.7rem;
    }
    /* TEAM */
    .section-team {
        height: 380vw;
    }
    .card {
        width: 90%;
        height: 90%;
    }
    /* CONTACT */
    .section-mailinglist {
        height: 110vw;
    }
    .form-container {
        width: 95%;
    }
    .email-sign {
        padding: .5rem;
    }
    #status {
        font-size: 1rem;
    }
    /* FOOTER */
    .footer-logo {
        margin-top: 2.2rem;
        height: 2.5rem;
    }
    .foot-icons {
        font-size: 1rem;
    }
    .footer-subtitle {
        font-size: 1rem;
    }
    .copyright {
        font-size: .4rem;
    }
    .self {
        font-size: .4rem;
    }
}

@media screen and (max-width: 240px) {
    /* TEAM */
    .resume {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .details {
        height: 50px;
    }
    .details h2 .job-title {
        font-size: 1rem;
    }
    /* CONTACT */
    .section-mailinglist {
        padding-bottom: 5rem;
    }
    /* FOOTER */
    .footer {
        height: 40vw;
    }
}


